<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a  class="navbar-brand" href="javascript:void(0)">Real estate</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-taeget="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <a class="nav-link"  href="{% url 'home' %}">Home</a>
                <a class="nav-link"  href="{% url 'landlord' %}">landlord</a>


            </ul>
        </div> 
    

    </div>
</nav>