<div class="container mt-5">
    <h2>Landlords form</h2>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="apartment">Apartment:</label>
        <input type="text" class="form-control" id="apartment" name="apartment" placeholder="Enter your apartment name">
      </div>
      <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter your contact number">
      </div>
      <div class="form-group">
        <label for="contact">location:</label>
        <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter the location">
      </div>
      <div class="form-group">
        <label for="contact">land number:</label>
        <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter the land number">
      </div>
      <button type="submit" class="btn btn-primary">save changes</button>
    </form>
  </div>
     